[Unit]
Description=Satisfactory Dedicated Server
Documentation=https://github.com/tsvenbla/az-satisfactory-server/tree/main
Wants=network-online.target
After=syslog.target network.target nss-lookup.target network-online.target

[Service]
# Paths and Environment
Environment="LD_LIBRARY_PATH=./linux64"
WorkingDirectory=/opt/satisfactory_server
ReadWritePaths=/home/steam /opt/satisfactory_server /opt/satisfactory_backups

# User and Group
User=steam
Group=steam

# Executables
ExecStartPre=/opt/satisfactory_backups/satisfactory-server-gamesavebackup.sh
ExecStartPre=/usr/games/steamcmd +force_install_dir /opt/satisfactory_server +login anonymous +app_update 1690800 validate +quit
ExecStart=/opt/satisfactory_server/FactoryServer.sh -ServerQueryPort=15777 -BeaconPort=15000 -Port=7777 -log -unattended -multihome=0.0.0.0

# Service Management
Restart=on-failure
RestartSec=5s
TimeoutStartSec=3min
TimeoutStopSec=90s

# Security Settings
CapabilityBoundingSet=
DevicePolicy=auto
LimitNOFILE=2048
LockPersonality=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
PrivateUsers=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
ProtectSystem=strict
RemoveIPC=yes
RestrictNamespaces=yes
RestrictAddressFamilies=AF_INET AF_UNIX
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallArchitectures=native x86
UMask=0077

# Output to journal
StandardOutput=journal

[Install]
WantedBy=multi-user.target
